<h2>Stuctural Directives</h2>
<h3>*ngFor</h3>
<div class="panel panel- primary">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
        <div class="panel-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Director</th>
                        <th>Cast</th>
                        <th>Release Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Movie of Movies; let i=index;">
                        <td>{{i + 1}}</td>
                        <td>{{Movie.title}}</td>
                        <td>{{Movie.director}}</td>
                        <td>{{Movie.cast}}</td>
                        <td>{{Movie.releaseDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<br>
<hr>
<h2>ngIf</h2>
<div>
    Show <input type="checkbox" [(ngModel)]="result">
</div>
<p *ngIf="result">Result Is Checked</p>
<p *ngIf="!result">Result</p><br>
<hr>

<h2>ngSwitch</h2>
<div [ngSwitch]="grade">
    <p *ngSwitchCase="'A'">Excellent</p>
    <p *ngSwitchCase="'B'">Good</p>
    <p *ngSwitchCase="'c'">Average</p>
    <p *ngSwitchDefault>Fail</p>
</div><br>
<hr>
<h2>Attribute Directives</h2>
<h3>ngClass</h3>
<button (click)="isActive = !isActive" [ngClass]="isActive  ? 'active' : 'inactive'">Click Here</button>
<br>
<hr>
<h3>ngStyle</h3>
<p [ngStyle]="{
    'color':textColor,
    'font-size':fontSize,
    'background-color': bgColor
 }">Styled Text with ngStyle</p>