<h2>Structural Directives</h2>

<table border="1" width="100%">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Title</th>
      <th>Director</th>
      <th>Cast</th>
      <th>Release Date</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let Movie of Movies; let i = index; trackBy: trackedByMovieId">
      <td>{{ i + 1 }}</td>
      <td>{{ Movie.title }}</td>
      <td>{{ Movie.director }}</td>
      <td>{{ Movie.cast }}</td>
      <td>{{ Movie.releaseDate }}</td>
    </tr>
  </tbody>
</table>

<br>

<button (click)="addMovie()">Add Movie</button>

<hr>

<!-- ngIf -->
<h2>ngIf</h2>

<label>
  <input type="checkbox" [(ngModel)]="result"> Show Result
</label>

<p *ngIf="result">Result Is Checked ✅</p>
<p *ngIf="!result">Result Not Checked ❌</p>

<hr>

<!-- ngSwitch -->
<h2>ngSwitch</h2>

<div [ngSwitch]="grade">
  <p *ngSwitchCase="'A'">Excellent 🔥</p>
  <p *ngSwitchCase="'B'">Good 👍</p>
  <p *ngSwitchCase="'C'">Average 😐</p>
  <p *ngSwitchDefault>Fail ❌</p>
</div>

<hr>

<!-- ngClass -->
<h2>ngClass</h2>

<button 
  (click)="isActive = !isActive"
  [ngClass]="{ active: isActive, inactive: !isActive }">
  Click Me
</button>

<hr>

<!-- ngStyle -->
<h2>ngStyle</h2>

<p [ngStyle]="{
  'color': textColor,
  'background-color': bgColor,
  'font-size': fontSize
}">
  Styled Text Example
</p>

<hr>

<!-- Custom Directives -->
<h2>Custom Directives</h2>

<p appHighlight>Hover ME</p>
<p [appHover]="'red'">Hover Red</p>
<p [appHover]="'green'">Hover Red</p>