<h1>Pipes</h1>

<h2>Date Pipe</h2>
<p>{{ today | date:'dd/MM/yyyy' }}</p>
<p>{{ today | date:'dd/MM/yyyy hh:mm a' }}</p>
<p>{{today |date: 'dd/MMM/yyyy'}}</p>
<hr>

<h2>Async Piipe</h2>
<p>{{dataPromise | async }}</p>
<hr>

<h2>Key-value Pipe</h2>
<div *ngFor="let item of user| keyvalue">
    {{item.key}} : {{item.value}}
</div>
<hr>
<h2>Upper Case Pipe</h2>
<p>{{fruit | uppercase}}</p>
<hr>
<h2>Lower Case Pipe</h2>
<p>{{Animal|lowercase}}</p>
<hr>
<h2>Currency Pipe</h2>
<P>{{Price | currency}}</P>
<P>{{Price | currency:'INR'}}</P>
<p>{{ Price | currency:'EUR' }}</p>
<p>{{ Price | currency:'USD' }}</p>
<hr>
<h2>Slice Pipe</h2>
<p>{{City | slice:0:4}}</p>
<hr>
<h2>JSON Pipe</h2>
<pre>{{vegetables | json}}</pre>
<hr>
<h2>Percent Pipe</h2>
<p>{{ marks/total|percent}}</p>
<hr>
<h2> Custome Pipes</h2>
<p>{{'Vicky'| custom}}</p>
<input type="text"[(ngModel)]="searchText" placeholder="Search name">
<div *ngFor="let user of users | filter:searchText">
    {{user.name}}
</div>