  <h1 class="main-title">Pipes</h1>

<!-- Date -->
<section class="card">
  <h2>Date Pipe</h2>
  <p>{{ today | date:'dd/MM/yyyy' }}</p>
  <p>{{ today | date:'dd/MM/yyyy hh:mm a' }}</p>
</section>

<!-- Async -->
<section class="card">
  <h2>Async Pipe</h2>
  <p>{{ dataPromise | async }}</p>
</section>

<!-- KeyValue -->
<section class="card">
  <h2>KeyValue Pipe</h2>
  <div *ngFor="let item of user | keyvalue">
    {{ item.key }} : {{ item.value }}
  </div>
</section>

<!-- Upper / Lower -->
<section class="card">
  <h2>Text Pipes</h2>
  <p>Uppercase: {{ fruit | uppercase }}</p>
  <p>Lowercase: {{ animal | lowercase }}</p>
</section>

<!-- Currency -->
<section class="card">
  <h2>Currency Pipe</h2>
  <p>{{ price | currency:'INR' }}</p>
  <p>{{ price | currency:'USD' }}</p>
  <p>{{ price | currency:'EUR' }}</p>
</section>

<!-- Slice -->
<section class="card">
  <h2>Slice Pipe</h2>
  <p>{{ city | slice:0:4 }}</p>
</section>

<!-- Percent -->
<section class="card">
  <h2>Percent Pipe</h2>
  <p>{{ marks / total | percent }}</p>
</section>

<!-- JSON -->
<section class="card">
  <h2>JSON Pipe</h2>
  <pre>{{ vegetables | json }}</pre>
</section>

<!-- Custom Pipe -->
<section class="card">
  <h2>Custom Pipe</h2>
  <p>{{ 'Vicky' | custom }}</p>
</section>

<!-- Filter Pipe -->
<section class="card">
  <h2>Filter Pipe</h2>
  <input [(ngModel)]="searchText" placeholder="Search name">

  <div *ngFor="let user of users | filter:searchText">
    {{ user.name }}
  </div><br>
<button (click)="addUserPure()">Add User (Pure)</button>
<!-- <button (click)="addUserImpure()">Add User (Impure)</button>   -->
</section>
  
  